body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    margin-bottom: 20px;
}





#word {
    font-size: 2rem;
    letter-spacing: 10px;
    margin-bottom: 20px;
}


#letters {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    justify-content: center;
}


.letters {
    background: #eee;
    border: none;
    margin: 5px;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
}


.letter:hover {
    background: #ddd;
}

.letter:disabled {
    background: #ccc;
    cursor: not-allowed;
}

#message {
    font-size: 1.3rem;
    margin-top: 20px;
}

#reset {
    margin-top: 15px;
    padding: 8px 15px;
    font-size: 1rem;
    background: #0078ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}




#reset:hover {
    background: #005fcc;
}







